<h2 class="heading">My Closet</h2>
<div class="user-page">
　<div class="sidebar">
    <div>
      <!--アイテム追加ボタン-->
      <%= link_to new_item_image_path, class: "submit link" do %>Add<% end %>

      <!--アイテム検索-->
      <%= form_with url: search_path, local: true, method: :get do |f| %>
        <div class="search-form"><%= f.text_field :word, placeholder: "アイテム名", class: "search-box" %><%= f.submit "Search", class: "search-btn" %></div>
      <% end %>

  　   <!--ジャンル一覧-->
      <table class="category-position">
         <tbody>
           <tr>
             <td>
               <p class="category"><%= link_to "全アイテム", item_images_path , class: "link"%> </p>
             </td>
           </tr>
           <% @categories.each do |category| %>
           <tr>
             <td>
               <p class="category"><%= link_to category.name, item_images_path(category_id: category.id), class: "link" %></p>
             </td>
           </tr>
           <% end %>
         </tbody>
      　</table>
    </div>
  </div>
  <!--ユーザーの投稿一覧-->
  <div class="user-post">
    <% if @item_images.exists? %>
      <h2 class="count">Total..<%= @item_images.total_count %></h2>
    <% else %>
      <h2 class="count">アイテムはありません</h2>
    <% end %>
    <div class="card-wrap">
      <%= render 'index', item_images: @item_images %>
    </div>
  </div>
</div>
<div class="paginate-box">
  <div class="paginate">
     <%= paginate @item_images %>
  </div>
</div>