<h2 class="heading">My Page</h2>
<div class="user-page">
　<div class="sidebar">
　 <!--アイテム検索-->
  <div>
      <%= form_with url: search_path, local: true, method: :get do |f| %>
          <%= f.text_field :word %><%= f.submit "Search" %>
      <% end %>

  　<!--ジャンル一覧-->
  <table>
      <tbody>
        <% @categories.each do |category| %>
        <tr>
            <td>
                <%= link_to category.name, item_images_path(category_id: category.id) %>
            </td>
        </tr>
        <% end %>
      </tbody>
  </table>
  </div>
  </div>
  <div class="user-post">
    <div class="card-wrap">
    <% @item_images.each do |item_image| %>
      <div class="itemimage-card">
        <%= link_to item_image_path(item_image.id) do %>
        <%= image_tag item_image.get_image(300,250) %>
        <% end %>
        <table>
            <tr>
                <td>Category..</td>
                <td><%= item_image.category.name %></td>
            </tr>

            <tr>
                <td>Name.........</td>
                <td><%= item_image.name %></td>
            </tr>
            <tr>
                <td>Brand........</td>
                <td><%= item_image.brand_name %></td>

        </table>
      </div>
    <% end %>
    </div>
  </div>

</div>