<h1>Your closet</h1>
<div>
    <%= form_with url: search_path, local: true, method: :get do |f| %>
        <%= f.text_field :word %><%= f.submit "Search" %>
    <% end %>
</div>
<table>
    <tbody>
        <% @categories.each do |category| %>
        <tr>
            <td>
                <%= link_to category.name, item_images_path(category_id: category.id) %>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>
<% @item_images.each do |item_image| %>
<div>
  <%= link_to item_image_path(item_image.id) do %>
   <%= image_tag item_image.get_image(200,200) %>
  <% end %>
  <p>カテゴリー：<%= item_image.category.name %></p>
  <p>アイテム名：<%= item_image.name %></p>
  <p>ブランド：<%= item_image.brand_name %></p>
</div>
<% end %>

