<div class="flame">
  <h2 class="heading">New Item</h2>
  <div class="show-card">
    <% if @item_image.errors.any? %>
      <p class="center">ERROR:写真が選択されていません</p>
    <% end %>
    <%= form_with model: @item_image do |f| %>
      <p class="center">Image</p>
      <p class="center"><%= f.file_field :image, accept: "image/*" %></p>
      <p class="center">Category</p>
      <p class="center"><%= f.collection_select :category_id, Category.all, :id, :name %></p>
      <p class="center">Name</p>
      <p class="center"><%= f.text_field :name %></p>
      <p class="center">Brand</p>
      <p class="center"><%= f.text_field :brand_name %></p>
      <p class="center"><%= f.submit 'Add', class: "submit" %></p>
    <% end %>
  </div>
</div>


