<div class="flame">
  <h2 class="heading">Edit Profile</h2>
  <div class="show-card">
    <% if @user.errors.any? %>
      <p class="center">ご入力いただいたユーザー名は<br>使用できません</p>
    <% end %>

    <%= form_with model: @user do |f| %>
    <p class="center"><%= image_tag @user.get_profile_image(200,200) %></p>
    <p class="center"><%= f.file_field :profile_image, placeholder: "プロフィール画像", accept: "image/*" %></p>
    <p class="center">UserName</p>
    <p class="center"><%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"Name" %></p>
    <p class="center">Introduction</p>
    <p class="center"><%= f.text_area :introduction, autofocus: true, id:"inputIntroduction", placeholder:"Introduction" %></p>
    <p class="center"><%= f.submit 'Edit', class: "submit" %></p>
   <% end %>
    <p class="center"><%= link_to withdraw_path, class: "withdraw link" do %>退会<% end %></p>
    <%= link_to user_path(@user), class: "gray" do %><i class="fas fa-arrow-alt-circle-left"></i><% end %>
  </div>
</div>
