
<h2 class="heading">My Page</h2>
  <div class="user-page">
    <!--ユーザー詳細-->
    <div class="sidebar">
    <h2>User Info</h2>
      <dl>
        <dt><%= image_tag @user.get_profile_image(100,100), class: "profile-image" %></dt>
        <dd><p class="name"><%= @user.name %></p></dd>
      </dl>
      <dl>
        <dt>intr.</dt>
        <dd><%= @user.introduction %></dd>
      </dl>
      <dl>
        <dt>following</dt>
        <dd><%= link_to @user.followings.count, user_followings_path(@user) %></dd>
      </dl>
      <dl>
        <dt>follower</dt>
        <dd><%= link_to @user.followers.count, user_followers_path(@user) %></dd>
      </dl>


    <!--フォローボタン-->

    <% if current_user.following?(@user) %>
      <%= link_to user_relationships_path(user_id: @user.id), class: "submit link", method: :delete do %>フォロー外す<% end %>
    <% else %>
      <%= link_to user_relationships_path(user_id: @user.id), class: "submit link", method: :post do %>フォローする<% end %>
    <% end %>

  <!--編集リンク-->
     <div>
       <% if @user == current_user %>
         <p><%= link_to "Edit", edit_user_path(@user) %></p>
         <p><%= link_to "Add Item", new_item_image_path %></p>
       <% end %>
     </div>

    </div>
    <div class="user-post">
    <!--ユーザーの投稿一覧-->
      <div class="card-wrap">
        <%= render 'post_images/index', post_images: @post_images %>
      </div>
    </div>
</div>