
<h2 class="heading">My Page</h2>
<p><%= link_to "❤", favorites_user_path(@user) %></p>
  <div class="user-page">
    <!--ユーザー詳細-->
    <div class="sidebar">
      <div id="user_info">
        <%= render "user_info", user: @user %>
      </div>


    <!--フォローボタン-->
    <div id="follow_button">
      <%= render "relationships/follow_button", user: @user %>
    </div>

  <!--編集リンク-->
     <div>
       <% if @user == current_user %>
         <p><%= link_to edit_user_path(@user),class: "submit link" do %>Edit<% end %></p>

       <% end %>
     </div>

    </div>
    <div class="user-post">
    <!--ユーザーの投稿一覧-->
      <div class="card-wrap">
        <%= render 'post_images/index', post_images: @post_images %>
      </div>
    </div>
</div>