<% post_images.each do |post_image| %>
<div class="index-card">
  <table>
    <td>
      <%= image_tag post_image.user.get_profile_image(50,50), class: "profile-image" %>
    </td>
    <td>
      <%= link_to user_path(post_image.user.id), class: "link" do %>
      <%= post_image.user.name %>
      <% end %>
    </td>
  </table>
  <p class="center"><%= link_to post_image_path(post_image.id) do %>
    <%= image_tag post_image.get_image(300,250) %>
  <% end %></p>


  <!--ã„ã„ã­-->
  <% if post_image.favorited_by?(current_user) %>
    <p>
      <%= link_to post_image_favorites_path(post_image), method: :delete do %>
      ðŸ’›<%= post_image.favorites.count %>
      <% end %>
    </p>
  <% else %>
    <p>
      <%= link_to post_image_favorites_path(post_image), method: :post do %>
      â™¡<%= post_image.favorites.count %>
      <% end %>
    </p>
  <% end %>

  <p>ã‚³ãƒ¡ãƒ³ãƒˆ<%= post_image.post_comments.count %>ä»¶</p>
</div>
<% end %>
