<div class="flame">
<div class="show-card">
  <table>
    <td>
      <%= link_to user_path(@post_image.user.id), class: "link" do %>
      <%= image_tag @post_image.user.get_profile_image(50,50), class: "profile-image" %>
      <% end %>
    </td>
    <td>
      <%= link_to user_path(@post_image.user.id), class: "link" do %>
      <%= @post_image.user.name %>
      <% end %>
    </td>
  </table>
  <p class="center"><%= image_tag @post_image.get_image(300,250) %></p>
  <p><%= @post_image.caption %></p>
  <%= @post_image.created_at.strftime('%Y/%m/%d') %>



  <!--ã„ã„ã­-->
  <div>
    <% if @post_image.favorited_by?(current_user) %>
      <p>
        <%= link_to post_image_favorites_path(@post_image), method: :delete do %>
        ðŸ’›<%= @post_image.favorites.count %>
        <% end %>
      </p>
    <% else %>
      <p>
        <%= link_to post_image_favorites_path(@post_image), method: :post do %>
        â™¡<%= @post_image.favorites.count %>
        <% end %>
      </p>
    <% end %>
  </div>

  <!--ã‚³ãƒ¡ãƒ³ãƒˆä»¶æ•°è¡¨ç¤º-->
  <div>
    <p><%= link_to post_image_post_comment_path(@post_image.id) do %>
       ã‚³ãƒ¡ãƒ³ãƒˆ<%= @post_image.post_comments.count %>ä»¶
       <% end %>
    </p>
  </div>
  <!--ç·¨é›†ãƒ»å‰Šé™¤ãƒªãƒ³ã‚¯ã€€æŠ•ç¨¿è€…ã«ã®ã¿è¡¨ç¤º-->
   <% if @post_image.user == current_user %>
      <%= link_to "Edit", edit_post_image_path(@post_image.id) %>
      <%= link_to "Delete", post_image_path(@post_image), method: :delete, "data-confirm" => "æœ¬å½“ã«å‰Šé™¤ã—ã¾ã™ã‹ï¼Ÿ" %>
   <% end %>

  <!--ã‚³ãƒ¡ãƒ³ãƒˆãƒ•ã‚©ãƒ¼ãƒ -->
  <div>
    <%#= link_to new_post_image_post_comment_path(@post_image.id), class: "submit link" do %><%# end %>
    <%= flash[:alert] %>
    <%= form_with model: [@post_image, @post_comment] do |f| %>
      <%= f.text_area :comment, rows: '5', placeholder: "ã‚³ãƒ¡ãƒ³ãƒˆ" %>
      <%= f.submit "Send" %>
    <% end %>
  </div>
</div>
</div>
