<div>
  <p>User Name：<%= @post_image.user.name %></p>
  <%= image_tag @post_image.get_image(200,200) %>
  <p>Caption：<%= @post_image.caption %></p>
  <%= @post_image.created_at.strftime('%Y/%m/%d') %>
  <% if @post_image.user == current_user %>
    <%= link_to "Edit", edit_post_image_path(@post_image.id) %>
    <%= link_to "Delete", post_image_path(@post_image), method: :delete, "data-confirm" => "本当に削除しますか？" %>
  <% end %>
</div>

<!--コメント投稿-->
<div>
  <p><%= link_to post_image_post_comment_path(@post_image.id) do %>
     コメント<%= @post_image.post_comments.count %>件
     <% end %>
  </p>
</div>

<!--コメントフォーム-->
<div>
  <%= form_with model: [@post_image, @post_comment] do |f| %>
    <%= f.text_area :comment, rows: '5', placeholder: "コメント" %>
    <%= f.submit "Send" %>
  <% end %>
</div>