<div>
  <p>User Nameï¼š<%= @post_image.user.name %></p>
  <%= image_tag @post_image.get_image(200,200) %>
  <p>Captionï¼š<%= @post_image.caption %></p>
  <%= @post_image.created_at.strftime('%Y/%m/%d') %>
  <% if @post_image.user == current_user %>
    <%= link_to "Edit", edit_post_image_path(@post_image.id) %>
    <%= link_to "Delete", post_image_path(@post_image), method: :delete, "data-confirm" => "æœ¬å½“ã«å‰Šé™¤ã—ã¾ã™ã‹ï¼Ÿ" %>
  <% end %>
</div>

<!--ã„ã„ã­-->
<div>
  <% if @post_image.favorited_by?(current_user) %>
    <p>
      <%= link_to post_image_favorites_path(@post_image), method: :delete do %>
      ðŸ’›<%= @post_image.favorites.count %>
      <% end %>
    </p>
  <% else %>
    <p>
      <%= link_to post_image_favorites_path(@post_image), method: :post do %>
      â™¡<%= @post_image.favorites.count %>
      <% end %>
    </p>
  <% end %>
</div>

<!--ã‚³ãƒ¡ãƒ³ãƒˆä»¶æ•°è¡¨ç¤º-->
<div>
  <p><%= link_to post_image_post_comment_path(@post_image.id) do %>
     ã‚³ãƒ¡ãƒ³ãƒˆ<%= @post_image.post_comments.count %>ä»¶
     <% end %>
  </p>
</div>

<!--ã‚³ãƒ¡ãƒ³ãƒˆãƒ•ã‚©ãƒ¼ãƒ -->
<div>
  <%= form_with model: [@post_image, @post_comment] do |f| %>
    <%= f.text_area :comment, rows: '5', placeholder: "ã‚³ãƒ¡ãƒ³ãƒˆ" %>
    <%= f.submit "Send" %>
  <% end %>
</div>