<!DOCTYPE html>
<html>
  <head>
    <title>MyCloset</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="wrap">
      <% if user_signed_in? %>
        <div class="logo"><%= link_to post_images_path do %><%= image_tag('logo.png') %><% end %></div>
      <% else %>
        <div class="logo"><%= link_to root_path do %><%= image_tag('logo.png') %><% end %></div>
      <% end %>
        <ul>
        <% if user_signed_in? %>
          <li>
            <span class="header-link"><%= link_to 'OOTD', new_post_image_path, class: "link" %></span>
          </li>
          <li>
            <span class="header-link"><%= link_to "MyPage", user_path(current_user.id), class: "link" %></span>
          </li>
          <li>
            <span class="header-link"><%= link_to "LogOut", destroy_user_session_path, method: :delete, class: "link" %></span>
          </li>
          <li>
            <span class="header-link"><%= link_to "Notice", user_notifications_path(current_user.id), class: "link" %></span>
          </li>
        <% else %>
          <li>
            <span class="header-link"><%= link_to "About", about_path, class: "link" %></span>
          </li>
          <li>
            <span class="header-link"><%= link_to "SignUp", new_user_registration_path, class: "link" %></span>
          </li>
          <li>
            <span class="header-link"><%= link_to "LogIn", new_user_session_path, class: "link" %></span>
          </li>

         <% end %>
        </ul>
      </div>
    </header>
    <%= yield %>
  </body>
  <footer>
    <p>Appi66</p>
  </footer>
</html>
