<!DOCTYPE html>
<html>
  <head>
    <title>MyCloset</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1><%= link_to "My Closet", post_images_path, class: "link" %></h1>
      <nav>
        <ul>
        <% if user_signed_in? %>
          <li>
            <span class="header-link"><%= link_to 'OOTD', new_post_image_path, class: "link" %></span>
          </li>
          <li>
            <span class="header-link"><%= link_to "MyPage", user_path(current_user.id), class: "link" %></span>
          </li>
          <li>
            <span class="header-link"><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "link" %></span>
          </li>
          <li>
            <span class="header-link"><%= link_to "Notice", user_notifications_path(current_user.id), class: "link" %></span>
          </li>
        <% else %>
          <li>
            <span class="header-link"><%= link_to "新規登録", new_user_registration_path, class: "link" %></span>
          </li>
          <li>
            <span class="header-link"><%= link_to "ログイン", new_user_session_path, class: "link" %></span>
          </li>

         <% end %>
        </ul>
      </nav>
    </header>
    <%= yield %>
  </body>
  <footer>
    <p>Appi66</p>
  </footer>
</html>
